*.RData
*.csv
*.png
*.html
.Rhistory
.Rproj.user
aggregatesUMD/
covidStateSird/Output_FirstScenario/
covidStateSird/Output_GroundTruth_FirstScenario/

!datasets/USA_variants.zip
!datasets/USA_2024-06-13.zip
!covidStateSird
!covidStateSird/Data/StateInterventionDates.csv
!covidStateSird/Data/COVID-19 Location Covariates - AnalyticStates.csv
