*.RData
*.csv
*.png
.Rhistory
.Rproj.user

!datasets/Germany_2024-05-02.csv
!datasets/Belgium_2024-05-02.csv
!datasets/France_2024-05-02.csv
!datasets/Sweden_2024-05-02.csv
!datasets/Austria_2023-11-22.csv
!datasets/Italy_2023-11-22.csv
!datasets/variants_data_2023-07-25.csv
